# apple shizzle
.DS_Store
xcuserdata/
DerivedData/
*.xcuserstate
*.xcbkptlist
*.xccheckout
*.xcscmblueprint

# binaries
build/
dist/
*.ipa
Payload/

# this prolly doesnt even need to exist anymore
Runtimes/
jdk-build/
openjdk-25-clone/
patch_icache.sh

# logs
*.log

# misc
Amethyst-iOS/
tools/
*.bak